
h3{
    font-size: 18px;
    margin-top: 10px;

}
body {
	font:13px Open Sans, Arial, Helvetica, sans-serif;
	line-height:1.5em;
	position: relative;
	overflow-x:hidden;
	overflow-y: scroll;
}

#wrapper{
    width: 100%;
    min-height: 800px;
}

#main-nav{
    width: 100%;
    height: 55px;
    background-color: black;
}

#main-nav.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7000;
    box-shadow: 0 0 5px 2px #ccc;
}

#Topicon{
    float: left;
    width: 35%;
    font-weight: bold;
    color: #eeeeee;
    padding-left: 2%;
    padding-top: 13px;
    font-size: 20px;
}

#Topicon img{
    width: 4%;
    height: 4%;
}

#search-box{
    float: left;
    position: relative;
    margin-top: 10px;
    width: 50%;
    border-radius: 100px; 
}

#textsearch{
    width: 50%;
    height: 30px;
    float: left;
    border: 0px;
    opacity: 0.4;
    border-radius: 100px 0px 0px 100px;
    text-align: center;
    
}

#search-button{
    height: 100%;
    width: 5%;
    position: absolute;
    opacity: 0.4;
    border-radius: 0px 100px 100px 0px; 
    border: 0px;
}

#nav-dangnhap
{
    width: 13%;
    float: left;
    margin-top: 10px;
}

#nav-dangnhap a{
    text-decoration: none;
    text-transform: uppercase;
    color: #6f9a37;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    width: 150px;
}

.modal-content{
    background-color: #fff;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
}


.wrapper-nav{
    background-image: url("../img/site_bg.jpg");;
    height: 100px;
    float: left;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.nav-main{
    width: 100%;
    height: 40px;
    float: left;
    /* background-color: black; */
    margin: 40px 0px 40px 0px;
}

.WN_BT{
    width: 50%;
    height: 40px;
    margin: 0% 25% 0% 25%;
    /* background-color: #6f9a37; */
    text-align: center;
}

.fa{
    color: #fff;
}

#container{
    width: 100%;
    min-height: 500px;
    float: left;
    
}

.l_map{
    width: 60%;
    float: left;
    text-align: center;
    margin: 3% 0% 0% 0%;
}

.r_map{
    width: 40%;
    float: left;
    text-align: center;
    margin: 5% 0% 0% 0%;
}

.r_map .Min-RM .fa{
    color: #6f9a37;
}



#Fullname, #email, #Message{
    width: 400px;
}

#Trung{
    float: left;

    width: 100%;
    height: 150px;
    margin-top: 50px;
   
}

.btn {
    /* display: inline-block; */
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary1 {
    color: 	#B8860B;
    background-color: #fff;
   
    font-weight: bold;
}

.btn-primary {
    color: #fff;
    background: none;
   
    font-weight: bold;
}


.btn-primary:hover{
    background-color:  #fff	;
    border-color: #2e6da4;
    color: 	#B8860B;
}


.btn-primary1:hover{
    background: none;
    border-color: #2e6da4;
    color: #000000;
}

#footer{
    padding-top: 10px;
    background-image: url("../img/site_bg.jpg");;
    min-height: 150px;
    float: left;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    color: #fff;
    text-align: center;
    clear: both;
    padding: 30px 5% 10px 5%;
}

.FT{
    width: 30%;
    height: 200px;
    list-style-type: none;
    float: left;
    color: #fff;
    text-align: center;
}

.FT ul hr{
    background-color: #fff;
}

.FT ul span a{
    color: #fff;
}

